div.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px black;
    max-width: 100%;
       
}



h4.unit {
  display: flex;
  flex-direction: column;
  
}



p {
    color: #212121;
    font-size: 1.3rem;
}

h1.header {
display: flex;
justify-content: center;
margin-right: -3.6%;
text-shadow: 0 0 3px #FF0000;
}

div { 
    max-width: 100%;
}


h4.notification {
  margin-right: -18.7%;

}


h4.stocked {

  margin-right: -18.7%;

}

.S-title {
 background: lightgreen;
}

.C-title {
  background: lightcoral;
}


button.edit-btn{
    background:rgb(92, 216, 109);
    color:#fff;
    border:none;
    position:relative;
    height:82px;
    font-size:1.0em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
 
  }
  button.edit-btn:hover{
    background:#fff;
    color:#1AAB8A;
    border: 2px solid green;
  }
  button.edit-btn:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button.edit-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
//   button.edit-btn :hover:before,button:hover:after{
//     width:100%;
//     transition:800ms ease all;
//   }
  

  button.delete-btn{
    background:rgb(241, 155, 155);
    margin-right: -12%;
    border: 2px solid red;
    color:white;
    border:none;
    position:relative;
    height:82px;
    font-size:1.0em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  
  }
  button.delete-btn:hover{
    border: 2px solid red;
    background:#fff;
    color:black;
  }
  button.delete-btn:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button.delete-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
//   button.delete-btn :hover:before,button:hover:after{
//     width:100%;
//     transition:800ms ease all;
//   }



